# Use Credit Risk Analytics Notebook template

### Packages needed to run this notebook if running with inbuilt snowpark 3.8 template
##### !pip install --q "snowflake-connector-python[pandas]"
##### !sudo pip install --q  snowflake-ml-python==1.0.11 -U
##### !pip install --upgrade --q snowflake-snowpark-python==1.9.0
##### !pip install --upgrade --q numpy==1.24.3
##### !pip install --upgrade --q pandas==1.5.3
##### !pip install fosforio

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

# How to use Notebook Variables declared in customized template

In [2]:
import os
print (os.getenv('notebook_environment'))

PrPr

In [3]:
print (os.getenv('notebook_template'))

credit_risk_analytics

# How to use Project Parameters declared under Notebooks section

In [4]:
print (os.getenv('Snowflake_Account'))

ug94937.us-east4.gcp

In [5]:
print (os.getenv('Snowflake_user'))

MANISH

# Different ways to achieve Snowflake Connection

## 1. Code to establish connection using Config Parser and .ini file

In [14]:
config = configparser.ConfigParser()
config.read("/notebooks/notebooks/Config/snowflake_connection.ini")

['/notebooks/notebooks/Config/snowflake_connection.ini']

In [15]:
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": os.getenv('Snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [16]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [18]:
df = session.table("CRA_CREDIT_CARD_BALANCE_DETAILS")

In [19]:
df = df.to_pandas()

In [20]:
df.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,CREATED_BY,CREATED_AT
0,1406681,166393,-65,67.50,67500,0.0,0.0,0.0,0.0,67.5,...,0.0,0,0.0,0.0,13.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
1,2238515,170074,-55,68499.99,135000,0.0,0.0,0.0,0.0,8100.0,...,0.0,0,0.0,0.0,29.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
2,1875201,430424,-63,0.00,90000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,24.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
3,2641581,134182,-58,0.00,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,24.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
4,1304987,177889,-57,193248.99,180000,2250.0,2475.0,0.0,225.0,9000.0,...,1.0,2,0.0,1.0,32.0,Active,1,1,FDC_User,2024-05-23 23:02:27.674000-07:00

In [21]:
df.shape

(3840312, 25)

# 2 Using Inbuilt FosforIO package

In [22]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [23]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
snowflake.get_connection()

# To get snowflake connection object with a specific connection name
#snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

User name picked from OS env: manishh.singh@fosfor.com
Fetching connections created by manishh.singh@fosfor.com user
Connection names fetched ['FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_SNOWFLAKE', 'FDC_Insurance_Snowflake', 'FDC_Banking_FS_Snowflake'], created by manishh.singh@fosfor.com
Exception occurred in getting snowflake connection: 'connectionSources'

In [24]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("CRA_CREDIT_CARD_BALANCE_DETAILS")

In [25]:
df.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,CREATED_BY,CREATED_AT
0,1406681,166393,-65,67.50,67500,0.0,0.0,0.0,0.0,67.5,...,0.0,0,0.0,0.0,13.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
1,2238515,170074,-55,68499.99,135000,0.0,0.0,0.0,0.0,8100.0,...,0.0,0,0.0,0.0,29.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
2,1875201,430424,-63,0.00,90000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,24.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
3,2641581,134182,-58,0.00,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,24.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
4,1304987,177889,-57,193248.99,180000,2250.0,2475.0,0.0,225.0,9000.0,...,1.0,2,0.0,1.0,32.0,Active,1,1,FDC_User,2024-05-23 23:02:27.674000-07:00

# 3 Using Snowflake Snowpark

In [26]:
#Import all snowflake connection details from Template or Project variables.

db_user = os.getenv('Snowflake_user')
db_password =  os.getenv('Snowflake_password')
db_account = os.getenv('Snowflake_Account')
db_database =  os.getenv('Snowflake_Database')
db_role = os.getenv('Snowflake_user')
db_warehouse = os.getenv('Snowflake_Warehouse')
db_schema = os.getenv('Snowflake_Schema')

In [27]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session = Session.builder.configs(connection_params).create()

In [29]:
session.sql('use warehouse FOSFOR_SOLUTIONS_WH;').collect()
session.sql('use database FDC_Banking_FS;').collect()
session.sql('use schema FDC_Banking_FS.PUBLIC;').collect()

df_customer = session.table('FDC_Banking_FS.PUBLIC.CRA_CREDIT_CARD_BALANCE_DETAILS').to_pandas()

In [30]:
df_customer.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,CREATED_BY,CREATED_AT
0,2557879,324758,-31,151772.445,180000,0.0,0.0,0.0,0.0,9000.0,...,0.0,0,0.0,0.0,55.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
1,1852662,455422,-31,59705.010,67500,0.0,0.0,0.0,0.0,3375.0,...,0.0,0,0.0,0.0,39.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
2,2414867,138836,-31,0.000,45000,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,8.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
3,1179809,333237,-40,0.000,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,18.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00
4,2640764,175089,-31,0.000,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,37.0,Active,0,0,FDC_User,2024-05-23 23:02:27.674000-07:00